
/*Especifidad 001*/
body {
	background-color:#02274b; 
	font-family: Verdana, sans-serif;
    color: #eeeeee;    
	font-size: 2.8vw;
	padding: 2em; 
}

/*Especifidad 001*/
h1 {
    text-transform: uppercase;
	text-align: center;
    padding: 1em;     
}


/*Especifidad 001*/
h2 {
    text-transform: uppercase;
	text-align: left;
    padding: 1em;     
}

/*Especifidad 011*/
a:link {
    color:#0721E9;
	background-color:#EBEBEB; 
}
  
/*Especifidad 011*/
a:visited {
    Color: #7601AD;
	background-color:#EBEBEB; 
}
/*Especifidad 001*/
table {
	border-style: solid;
	border-width: 0.15em;
	border-color: rgb(217, 217, 221);
	border-collapse: collapse;
}


/*Especifidad 002*/
table th {
	border: 0.25em solid #ccc;
}

/*Especifidad 002*/
table td {
	border: 0.25em solid #ccc;
}

/*Especifidad 002*/
form legend {
	text-transform: uppercase;
}	


  