
/*Especificidad: 001*/
body {
	background-color:#2C2F32; 
	font-family: Verdana, sans-serif;
    color: #eeeeee;    
	font-size: 1vw;
}

/*Especificidad: 001*/
h1 {
    text-transform: uppercase;
	text-align: center;
    padding: 2em;     
}


/*Especificidad: 001*/
h2 {
    text-transform: uppercase;
	text-align: center;
    padding: 2em;     
}

/*Especificidad: 011*/
a:link {
    color:#5865F2;
	background-color:#2C2F32; 
}
  
/*Especificidad: 011*/
a:visited {
    Color: #5865F2;
	background-color:#2C2F32; 
}
/*Especificidad: 001*/
table {
	border-style: solid;
	border-width: 0.25em;
	border-color: #ccc;
	border-collapse: collapse;
}

/*Especificidad: 002*/
table th {
	border: 0.25em solid #ccc;
}

/*Especificidad: 002*/
table td {
	border: 0.25em solid #ccc;
}

  